.android
.bash_history
.bash_logout
.bash_profile
.byobu
.cache
.calibrelibrary
.cargo
.conkyrc
.dwarffortress
.electron-gyp
.elementary
.fehbg
.fltk
.fonts.conf
.git
.gitconfig
.gnupg
.gradle
.gtkrc-2.0
.ICEauthority
.icons
.java
.kde4
.lesshst
.lexaloffle
.local
.mozilla
.mplayer
.npm
.pki
.profile
.pulse-cookie
.purple
.pylint.d
.python_history
.rustup
.ssh
.steam
.steampath
.steampid
.themes
.thumbnails
.thunderbird
.vim
.viminfo
.viminfo.tmp
.viminfz.tmp
.vimrc.bak
.vscode
.wget-hsts
.Xauthority
.xsession-errors
bin
Desktop
Documents
Downloads
exercism
git_pat.txt
go
Music
Pictures
programming
Public
rustlings
Templates
unix-porn-1.png
Videos
.config/akregatorrc
.config/alacritty
.config/autostart
.config/autostart-scripts
.config/baloofilerc
.config/bleachbit
.config/bluedevilglobalrc
.config/bpytop
.config/calibre
.config/cava
.config/cef_user_data
.config/Clementine
.config/coc
.config/Code
.config/configstore
.config/dconf
.config/Deskreen
.config/eDEX-UI
.config/exercism
.config/flameshot
.config/fontconfig
.config/Genymobile
.config/GIMP
.config/godot
.config/google-chrome
.config/gpick
.config/gtk-2.0
.config/gtk-3.0
.config/gtk-4.0
.config/gtkrc
.config/gtkrc-2.0
.config/heroic
.config/htop
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kateschemarc
.config/kcminputrc
.config/kconf_updaterc
.config/KDE
.config/kde.org
.config/kded5rc
.config/kdedefaults
.config/kdeglobals
.config/kfontinstuirc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kitty
.config/klavaro
.config/kmixrc
.config/konsolerc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/leap
.config/legendary
.config/libaccounts-glib
.config/lutris
.config/matplotlib
.config/menus
.config/mimeapps.list
.config/Mousepad
.config/nemo
.config/neofetch
.config/openmw
.config/opera
.config/pavucontrol.ini
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-workspace
.config/plasmarc
.config/plasmashellrc
.config/polybar
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse
.config/qBittorrent
.config/QtProject.conf
.config/ranger
.config/ristretto
.config/sakura
.config/sddmthemeinstallerrc
.config/session
.config/Session
.config/systemd
.config/systemsettingsrc
.config/terminology
.config/Thunar
.config/tilda
.config/torbrowser
.config/touchpadrc
.config/Trolltech.conf
.config/unity3d
.config/user-dirs.dirs
.config/VirtualBox
.config/weylus
.config/xfburn
.config/xfce4
.config/xfce4-dict
.config/xournalpp
.config/xsettingsd
.config/terminator/plugins/__pycache__/terminator-themes.cpython-39.pyc
.config/terminator/plugins/terminator-themes.py
